---
title: EventMaster / Demo
---
<!DOCTYPE html>
<html>
<head>
{% include header.html %}
<style>
</style>
</head>
<body>

{% include nav.html %}

<div class="wrapper">
<section>

<h1><a href="../">EventMaster</a> / Demo</h1>

<h2>Source code for the demo: </h2>
<p><a href="https://github.com/dexteryy/OzJS/tree/gh-pages/EventMaster/examples/">View on Github</a></p>

<h2>Running result of the demo: </h2>

<ol>
<li>Open the developer console of the browser</li>
<li>Refresh</li>
<li>Click the buttons</li>
</ol>
<p>
	<input type="button" value="clickEvent1" id="btn1" />
	<input type="button" value="clickEvent2" id="btn2" />
</p>

</section>
</div>

<script src="/js/lib/oz.js"></script>
<script src="demo.js"></script>

{% include footer.html %}
