---
title: Mo / lang / Demo
---
<!DOCTYPE html>
<html>
<head>
{% include header.html %}
<style>
</style>
</head>
<body>

{% include nav.html %}

<div class="wrapper">
<section>

<h1><a href="../../">Mo</a> / lang / Demo</h1>

<h2>Source code for the demo: </h2>
<p><a href="https://github.com/dexteryy/ozjs.org/tree/gh-pages/mo/examples/">View on Github</a></p>

<h2>Running result of the demo: </h2>

<ol>
<li>Open the developer console of the browser</li>
<li>Refresh</li>
</ol>

</section>
</div>

<script src="/js/lib/oz.js"></script>
<script src="demo.js"></script>
<script src="oop.js"></script>

{% include footer.html %}
