---
title: OzJS / Adapter / Demo
---
<!DOCTYPE html>
<html>
<head>
{% include header.html %}
<style>
</style>
</head>
<body>

{% include nav.html %}

<div class="wrapper">
<section>

<h1><a href="../../">OzJS</a> / Adapter / Demo</h1>
<blockquote>
<ul>
<li>Mini define/require mplementation for old web page</li>
<li>Transform AMD module into traditional module pattern</li>
</ul>
</blockquote>

<h2>Source code for the demo: </h2>
<p><a href="https://github.com/dexteryy/ozjs.org/tree/gh-pages/examples/adapter/">View on Github</a></p>

<h2>Running result of the demo: </h2>

<ol>
<li>Open the developer console of the browser</li>
<li>Refresh</li>
</ol>

</section>
</div>

<script src="/js/lib/adapter.js"></script>
<script src="demo.js"></script>

{% include footer.html %}
